* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: #a98ddc; 
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%230037ff' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");;
}

.container {
    width: 40rem; 
    border: 1px solid gray; 
    padding: 1rem; 
    background: white; 
    text-align: center; 
    border-radius: 5px; 
}

.count {
    font-size: 4rem; 
    padding: 0 1rem; 
    text-align: center; 
    display: block; 
}

input[type="text"] {
    display: block;
    font-size: 16px; 
    border-radius: 2px;
    padding: 10px; 
    width: 100%; 
    outline: none; 
}



.student-info {
    margin-top: 25px;      
    padding-top: 15px;
    border-top: 1px solid #eee; 
}

.student-info .name {
    font-size: 1.5rem;      
    font-weight: bold;
    color: #050505;
    margin-bottom: 5px;
}

.student-info .id {
    font-size: 1.5rem;    
    color: #000000;
}